{% extends "base.html" %}

{% block title %}Dashboard - Medical Triage Hub{% endblock %}

{% block content %}
<div class="bg-base-200 min-h-screen">

    <div class="navbar bg-base-300 shadow-md px-4 flex justify-between">
    <div class="text-xl font-bold">Medical Triage Hub</div>
    <div class="flex items-center gap-4">
        <span class="text-sm">Patient {{ user.email }}</span>
        <div class="badge badge-primary">Patient</div>
        <a href="/auth/logout" class="btn btn-sm btn-ghost">Logout</a>
    </div>
    </div>
       
</div>




{% endblock %}
