{% extends "base.html" %}

{% block title %}Admin Dashboard - Medical Triage Hub{% endblock %}

{% block content %}
<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col items-center justify-center">
    <div class="navbar bg-base-100 lg:hidden">
      <div class="flex-none">
        <label for="my-drawer-2" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </label>
      </div>
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">Medical Hub</a>
      </div>
    </div>
  
  </div> 
  <div class="drawer-side">
    <label for="my-drawer-2" class="drawer-overlay"></label> 
    <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content justify-between">
      <div>
          <h2 class="text-2xl font-bold mb-6 px-4">Medical Hub</h2>
          <li class="mb-2"><a href="/admin/dashboard" class="active">Dashboard</a></li>
      </div>
      <div>
          <li><a href="/auth/logout">Logout</a></li>
      </div>
    </ul>
  </div>
</div>


{% endblock %}


